.navbar
    nav
        ul
            li#about /about
            li#contact /contact
            li#services /services
            li#open-source /open-source
            li#shop /shop & privacy
            li#map /map