doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title DaNiEl_KeYs__
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css', integrity='sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==', crossorigin='anonymous', referrerpolicy='no-referrer')
    link(rel='shortcut icon', href='/images/grandfather.png', type='image/x-icon')
    link(rel='stylesheet', href='')
    link(rel='stylesheet', href='/css/style.css')
    script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5732804009654056', crossorigin='anonymous')
  .container
    nav
      ul
        li#about /about
        li#contact /contact
        li#services /services
        li#open-source /open-source
        li#shop /shop
    body
      block content
      script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5732804009654056', crossorigin='anonymous')
      // firstAD
      ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5732804009654056', data-ad-slot='8698362498', data-ad-format='auto', data-full-width-responsive='true')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({})

    script(src='js/winbox.bundle.js')
    script(src='js/main.js')