#modal
    .modal-content
        form(action="", method="post") 
            input#email(type="email", name="email", id="", placeholder="Email")
            input#password(type="password", name="password", id="", placeholder="Password")
            input#confirmPassword(type="password", name="confirmPassword", id="", placeholder="Confirm Password")
            input(type="submit", value="Login") 